USE [master]
GO
/****** Object:  Database [QuanLyHocSinh]    Script Date: 1/6/2019 2:46:03 AM ******/
CREATE DATABASE [QuanLyHocSinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyHocSinh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QuanLyHocSinh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyHocSinh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QuanLyHocSinh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyHocSinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyHocSinh]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 1/6/2019 2:46:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [varchar](20) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Gender] [varchar](6) NULL,
	[Email] [varchar](50) NULL,
	[phone] [varchar](11) NULL,
	[BirthDay] [date] NULL,
	[PassWord] [varchar](50) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assign]    Script Date: 1/6/2019 2:46:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assign](
	[IDTeacher] [varchar](20) NOT NULL,
	[IDSubject] [varchar](10) NOT NULL,
	[nameClass] [varchar](10) NOT NULL,
	[schoolYear] [varchar](9) NOT NULL,
 CONSTRAINT [PK_Assign] PRIMARY KEY CLUSTERED 
(
	[IDTeacher] ASC,
	[IDSubject] ASC,
	[nameClass] ASC,
	[schoolYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 1/6/2019 2:46:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[nameClass] [varchar](10) NOT NULL,
	[schoolYear] [varchar](9) NOT NULL,
	[IDMaster] [varchar](20) NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[nameClass] ASC,
	[schoolYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mark]    Script Date: 1/6/2019 2:46:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mark](
	[Semester] [int] NOT NULL,
	[FirstFifteenMinutes] [real] NULL,
	[SecondFifteenMinutes] [real] NULL,
	[ThirdFifteenMinutes] [real] NULL,
	[FirstFortyFiveMinutes] [real] NULL,
	[SecondFortyFiveMinutes] [real] NULL,
	[ThirdFortyFiveMinutes] [real] NULL,
	[SemesterMark] [real] NULL,
	[IDStudent] [varchar](20) NOT NULL,
	[IDSubject] [varchar](10) NOT NULL,
	[nameClass] [varchar](10) NOT NULL,
	[schoolYear] [varchar](9) NOT NULL,
 CONSTRAINT [PK_Mark_1] PRIMARY KEY CLUSTERED 
(
	[Semester] ASC,
	[IDStudent] ASC,
	[IDSubject] ASC,
	[nameClass] ASC,
	[schoolYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 1/6/2019 2:46:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[minAge] [int] NOT NULL,
	[maxAge] [int] NOT NULL,
	[passScore] [float] NOT NULL,
	[totalStudent] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 1/6/2019 2:46:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[IDStudent] [varchar](20) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Gender] [varchar](6) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](11) NULL,
	[BirthDay] [date] NULL,
	[PassWord] [varchar](50) NULL,
	[isActive] [char](1) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[IDStudent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Class]    Script Date: 1/6/2019 2:46:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Class](
	[IDStudent] [varchar](20) NOT NULL,
	[nameClass] [varchar](10) NOT NULL,
	[schoolYear] [varchar](9) NOT NULL,
 CONSTRAINT [PK_Student_Class] PRIMARY KEY CLUSTERED 
(
	[IDStudent] ASC,
	[nameClass] ASC,
	[schoolYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 1/6/2019 2:46:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[IDSubject] [varchar](10) NOT NULL,
	[NameSubject] [nvarchar](50) NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[IDSubject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 1/6/2019 2:46:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[IDTeacher] [varchar](20) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Gender] [varchar](6) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](11) NULL,
	[BirthDay] [date] NULL,
	[PassWord] [varchar](50) NULL,
	[TypeTeacher] [varchar](5) NULL,
	[isActive] [char](1) NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[IDTeacher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher_Subject]    Script Date: 1/6/2019 2:46:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher_Subject](
	[IDTeacher] [varchar](20) NOT NULL,
	[IDSubject] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Teacher_Subject] PRIMARY KEY CLUSTERED 
(
	[IDTeacher] ASC,
	[IDSubject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([ID], [Name], [Gender], [Email], [phone], [BirthDay], [PassWord]) VALUES (N'AD001', N'Lê Hoàng Sang', N'Male', N'lhsang@gmail.com', N'0921069807', CAST(N'1997-08-10' AS Date), N'AD001')
INSERT [dbo].[Assign] ([IDTeacher], [IDSubject], [nameClass], [schoolYear]) VALUES (N'GV001', N'MATH', N'10A1', N'2016-2017')
INSERT [dbo].[Assign] ([IDTeacher], [IDSubject], [nameClass], [schoolYear]) VALUES (N'GV001', N'MATH', N'10A1', N'2017-2018')
INSERT [dbo].[Assign] ([IDTeacher], [IDSubject], [nameClass], [schoolYear]) VALUES (N'GV001', N'MATH', N'10A1', N'2018-2019')
GO
INSERT [dbo].[Class] ([nameClass], [schoolYear], [IDMaster]) VALUES (N'10A1', N'2016-2017', N'GV001')
INSERT [dbo].[Class] ([nameClass], [schoolYear], [IDMaster]) VALUES (N'10A1', N'2017-2018', N'GV001')
INSERT [dbo].[Class] ([nameClass], [schoolYear], [IDMaster]) VALUES (N'10A1', N'2018-2019', N'GV001')
INSERT [dbo].[Mark] ([Semester], [FirstFifteenMinutes], [SecondFifteenMinutes], [ThirdFifteenMinutes], [FirstFortyFiveMinutes], [SecondFortyFiveMinutes], [ThirdFortyFiveMinutes], [SemesterMark], [IDStudent], [IDSubject], [nameClass], [schoolYear]) VALUES (1, 10, 9, 9, 10, 10, 8, 10, N'HS001', N'AV', N'10A1', N'2018-2019')
INSERT [dbo].[Mark] ([Semester], [FirstFifteenMinutes], [SecondFifteenMinutes], [ThirdFifteenMinutes], [FirstFortyFiveMinutes], [SecondFortyFiveMinutes], [ThirdFortyFiveMinutes], [SemesterMark], [IDStudent], [IDSubject], [nameClass], [schoolYear]) VALUES (1, 10, 8, 9, 5, 8, 10, 10, N'HS001', N'CN', N'10A1', N'2018-2019')
INSERT [dbo].[Mark] ([Semester], [FirstFifteenMinutes], [SecondFifteenMinutes], [ThirdFifteenMinutes], [FirstFortyFiveMinutes], [SecondFortyFiveMinutes], [ThirdFortyFiveMinutes], [SemesterMark], [IDStudent], [IDSubject], [nameClass], [schoolYear]) VALUES (1, 8, 9, 10, 8, 7, 5, 8, N'HS001', N'DL', N'10A1', N'2018-2019')
GO
INSERT [dbo].[Role] ([minAge], [maxAge], [passScore], [totalStudent]) VALUES (16, 18, 2, 4)
INSERT [dbo].[Student] ([IDStudent], [Name], [Gender], [Email], [Phone], [BirthDay], [PassWord], [isActive]) VALUES (N'HS001', N'Lê Tường QuÍ', N'Male', N'ltqui@gmail.com', N'0921921218', CAST(N'2003-12-15' AS Date), N'HS001', N'T')
INSERT [dbo].[Student] ([IDStudent], [Name], [Gender], [Email], [Phone], [BirthDay], [PassWord], [isActive]) VALUES (N'HS002', N'Trần Ngọc Quang', N'Male', N'tnquang@gmail.com', N'0347651516', CAST(N'2003-07-15' AS Date), N'1612534', N'T')
INSERT [dbo].[Student] ([IDStudent], [Name], [Gender], [Email], [Phone], [BirthDay], [PassWord], [isActive]) VALUES (N'HS003', N'Nguyễn Thùy Nhiên', N'Female', N'ntnhien@gmail.com', N'0347456516', CAST(N'2003-12-28' AS Date), N'HS003', N'T')
INSERT [dbo].[Student_Class] ([IDStudent], [nameClass], [schoolYear]) VALUES (N'HS001', N'10A1', N'2018-2019')
INSERT [dbo].[Student_Class] ([IDStudent], [nameClass], [schoolYear]) VALUES (N'HS002', N'10A1', N'2018-2019')
INSERT [dbo].[Student_Class] ([IDStudent], [nameClass], [schoolYear]) VALUES (N'HS003', N'10A1', N'2018-2019')
INSERT [dbo].[Subject] ([IDSubject], [NameSubject]) VALUES (N'AV', N'English')
INSERT [dbo].[Subject] ([IDSubject], [NameSubject]) VALUES (N'CN', N'Technology')
INSERT [dbo].[Subject] ([IDSubject], [NameSubject]) VALUES (N'DL', N'Geography')
INSERT [dbo].[Teacher] ([IDTeacher], [Name], [Gender], [Email], [Phone], [BirthDay], [PassWord], [TypeTeacher], [isActive]) VALUES (N'GV001', N'Trần Hồng QuẦN', N'Male', N'thquan@gmail.com', N'', CAST(N'1990-08-06' AS Date), N'1612557', N'GV', N'T')
INSERT [dbo].[Teacher] ([IDTeacher], [Name], [Gender], [Email], [Phone], [BirthDay], [PassWord], [TypeTeacher], [isActive]) VALUES (N'GV002', N'Võ Hoàng Hà', N'Female', N'vhha@gmail.com', N'0123456789', CAST(N'1990-12-20' AS Date), N'GV002', N'GV', N'T')
INSERT [dbo].[Teacher] ([IDTeacher], [Name], [Gender], [Email], [Phone], [BirthDay], [PassWord], [TypeTeacher], [isActive]) VALUES (N'GV003', N'Võ Huy Hoàng', N'Female', N'vhhoang@gmail.com', N'0123456987', CAST(N'1989-11-12' AS Date), N'GV003', N'GV', N'T')
INSERT [dbo].[Teacher_Subject] ([IDTeacher], [IDSubject]) VALUES (N'GV001', N'MATH')
INSERT [dbo].[Teacher_Subject] ([IDTeacher], [IDSubject]) VALUES (N'GV002', N'MATH')
INSERT [dbo].[Teacher_Subject] ([IDTeacher], [IDSubject]) VALUES (N'GV003', N'MATH')
ALTER TABLE [dbo].[Assign]  WITH CHECK ADD  CONSTRAINT [FK_Assign_Class] FOREIGN KEY([nameClass], [schoolYear])
REFERENCES [dbo].[Class] ([nameClass], [schoolYear])
GO
ALTER TABLE [dbo].[Assign] CHECK CONSTRAINT [FK_Assign_Class]
GO
ALTER TABLE [dbo].[Assign]  WITH CHECK ADD  CONSTRAINT [FK_Assign_Teacher_Subject] FOREIGN KEY([IDTeacher], [IDSubject])
REFERENCES [dbo].[Teacher_Subject] ([IDTeacher], [IDSubject])
GO
ALTER TABLE [dbo].[Assign] CHECK CONSTRAINT [FK_Assign_Teacher_Subject]
GO
ALTER TABLE [dbo].[Class]  WITH CHECK ADD  CONSTRAINT [FK_Class_Teacher] FOREIGN KEY([IDMaster])
REFERENCES [dbo].[Teacher] ([IDTeacher])
GO
ALTER TABLE [dbo].[Class] CHECK CONSTRAINT [FK_Class_Teacher]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [FK_Mark_Student_Class] FOREIGN KEY([IDStudent], [nameClass], [schoolYear])
REFERENCES [dbo].[Student_Class] ([IDStudent], [nameClass], [schoolYear])
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [FK_Mark_Student_Class]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [FK_Mark_Subject] FOREIGN KEY([IDSubject])
REFERENCES [dbo].[Subject] ([IDSubject])
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [FK_Mark_Subject]
GO
ALTER TABLE [dbo].[Student_Class]  WITH CHECK ADD  CONSTRAINT [FK_Student_Class_Class] FOREIGN KEY([nameClass], [schoolYear])
REFERENCES [dbo].[Class] ([nameClass], [schoolYear])
GO
ALTER TABLE [dbo].[Student_Class] CHECK CONSTRAINT [FK_Student_Class_Class]
GO
ALTER TABLE [dbo].[Student_Class]  WITH CHECK ADD  CONSTRAINT [FK_Student_Class_Student] FOREIGN KEY([IDStudent])
REFERENCES [dbo].[Student] ([IDStudent])
GO
ALTER TABLE [dbo].[Student_Class] CHECK CONSTRAINT [FK_Student_Class_Student]
GO
ALTER TABLE [dbo].[Teacher_Subject]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Subject_Subject] FOREIGN KEY([IDSubject])
REFERENCES [dbo].[Subject] ([IDSubject])
GO
ALTER TABLE [dbo].[Teacher_Subject] CHECK CONSTRAINT [FK_Teacher_Subject_Subject]
GO
ALTER TABLE [dbo].[Teacher_Subject]  WITH CHECK ADD  CONSTRAINT [FK_Teacher_Subject_Teacher] FOREIGN KEY([IDTeacher])
REFERENCES [dbo].[Teacher] ([IDTeacher])
GO
ALTER TABLE [dbo].[Teacher_Subject] CHECK CONSTRAINT [FK_Teacher_Subject_Teacher]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [CHECK_15_1] CHECK  (([FIRSTFIFTEENMINUTES]>=(0) AND [FIRSTFIFTEENMINUTES]<=(10)))
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [CHECK_15_1]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [CHECK_15_2] CHECK  (([SECONDFIFTEENMINUTES]>=(0) AND [SECONDFIFTEENMINUTES]<=(10)))
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [CHECK_15_2]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [CHECK_15_3] CHECK  (([THIRDFIFTEENMINUTES]>=(0) AND [THIRDFIFTEENMINUTES]<=(10)))
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [CHECK_15_3]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [CHECK_45_1] CHECK  (([FIRSTFORTYFIVEMINUTES]>=(0) AND [FIRSTFORTYFIVEMINUTES]<=(10)))
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [CHECK_45_1]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [CHECK_45_2] CHECK  (([SECONDFORTYFIVEMINUTES]>=(0) AND [SECONDFORTYFIVEMINUTES]<=(10)))
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [CHECK_45_2]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [CHECK_45_3] CHECK  (([THIRDFORTYFIVEMINUTES]>=(0) AND [THIRDFORTYFIVEMINUTES]<=(10)))
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [CHECK_45_3]
GO
ALTER TABLE [dbo].[Mark]  WITH CHECK ADD  CONSTRAINT [CHECK_SEMESTER_SCORE] CHECK  (([SEMESTERMARK]>=(0) AND [SEMESTERMARK]<=(10)))
GO
ALTER TABLE [dbo].[Mark] CHECK CONSTRAINT [CHECK_SEMESTER_SCORE]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [CHECK_GENDER_STUDENT] CHECK  (([Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [CHECK_GENDER_STUDENT]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [CHECK_GENDER_TEACHER] CHECK  (([Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [CHECK_GENDER_TEACHER]
GO
USE [master]
GO
